<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. C++
2. Python
3. SQL
4. R
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. stringr
2. NumPy
3. SciPy
4. Jsonlite

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
x=1
y=2
sum=x+y
print(sum)

3

In [4]:
x=4
y=3
product=x*y
print(product)

12

In [5]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
hours=str(int(200/60))
minutes=200%60
print("200 minutes can also be written as:" + " " + str(hours) + " " + "hours" + " " + str(minutes) + " " + "minutes")

200 minutes can also be written as: 3 hours 20 minutes

**Objectives:**
- Popular languages used for data science
- Popular libraries used for data science
- Data science tools
- Some arithmetic expressions

<h2>Author<h2>
Mayank